{% extends 'templates/painel_base.html' %}

    {% block conteudo %}

    <h1> Preencha as Informações </h1>
        <form action = "{{salvar_rastreio}}" method = "post">
            Código de Rastreio: <input type = "text" name = "cod_rastreio"> <br>
            Email: <input type = "text" name = "email"> <br>
            Obs: Seu email será utilizado, quando houver uma atualização em seu rastreio.
            <br><input type = "submit" value = "Salvar">
        </form>
        
    {% endblock %}